@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

html, body {
  background-color: #ffffff !important;
  color: #000000 !important;
}

input::placeholder,
textarea::placeholder {
  color: #6B7280 !important;
}
